**
!docker/
!docker/**
!core/
!core/**
core/target/
!py/
!py/**
py/build/
py/*.egg-info/
**/__pycache__/
!refdata/
!refdata/*.jsonl
!scenarios/
!scenarios/**
!docs-site-oink/
!docs-site-oink/**
docs-site-oink/public/
docs-site-oink/resources/
docs-site-oink/.hugo_cache/
